/* TABLE OF CONTENT

GLOBAL RESET
GLOBAL COLORS
GLOBAL TYPOGRAPHY
NAVIGATION
SECTION
COLUMN
*/
/* GLOBAL RESET */
* {box-sizing: border-box;}
body {margin: 0; }

/* GLOBAL COLORS */
body { 
    background-color: white;
    color: #0c090d;
}

a { color: #e01a4f; text-decoration: none;}
a:hover { color: #53b3cb; text-decoration: underline;}

/* GLOBAL TYPOGRAPHY */
body {
    font-family: sans-serif;
    font-size: 88.75%; /*14px*/
    line-height: 1.4;

}

p {
    margin: .5em;
    padding: 1em;
    text-align: left;
    max-width: 35em;
}

h1 {
    font-weight: bold;
    color: #e01a4f;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-left: .5em;

}
/* LAYOUT */

body {
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* SITE HEADER */

.site-header {
    display: flex;
    justify-content: space-between;
}
/* NAV */

.site-nav a {
    text-align: center;
    float: right;
    font-size: 120%;
    padding: .3em;
    text-decoration: none;
}

.site-nav {
    overflow: hidden;
    padding: 2em 1em 0 0;
}

.site-nav a:hover {
    background-color: #FFD0C6;
}

.site-nav a:active {
    background-color: #FFD0C6;
}

/* SITEMAIN */

.site-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SECTION */

section{
    margin: 0em;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1547103106-9a0e718bb2d2?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeats;
    background-attachment: fixed;
    
}

.btn {
    display: block;
    width: 120px;
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    border: 1px solid #e01a4f;
    background-color: #ee7394;
    border-radius: 20px;
    font-size: 130%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.btn:hover{ background-color: #ecc7d1; color: #e01a4f;}

.hero h1{font-weight: lighter;}
.hero h3{text-decoration: underline;}
.hero p{font-style: italic;}

  /* IMAGE */

  img {
      padding: 1em;
  }

  /* TEST
  * .site-main{ background-color: rgba(255,0,0,.1); border: 1px solid black;}
  .site-header{ background-color: rgba(0,255,0,.1); border: 1px solid black;}
  .site-nav{ background-color: rgba(0,0,255,.1); border: 1px solid black;} */