.revealer {
    position: relative;
  }
  
  .revealme {
    transition: all 1s ease;
    opacity: 0;
  }
  
  .active .revealme {
    opacity: 1;
  }
  
  .revealme.fromleft {
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    left: -100%;
  }
  
  .active .revealme.fromleft {
    opacity: 1;
    left: 2%;
  }
  
  .revealme.fromright {
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    right: -100%;
  }
  
  .active .revealme.fromright {
    opacity: 1;
    right: 2%;
  }