/* SITE STRUCTURE */

body {
    background-color: $color-accent-light;
}
.site-header {
    background: transparent;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color:white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}

/*SITE FOOTER*/

.site-footer {
    color: white;
    background: $color-accent;
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        color:white;
        text-decoration: none;
    }

    .button {
        color: $color-accent;
    }

}



section {
    padding: 4em 0;
}

/*HERO*/

.site-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("../img/herobackground.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 900px;
    position: relative;
    text-align: center;
    padding: 1em 0 6em 0;

    &.about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("../img/beardPapa3.jpg");;
    }

    h1 {
        margin-bottom: .25em;
    }

    p {
        margin: 1em auto;
    }
}

/*SECTION HEADING*/

.section-heading {
    font-size: 1em;
    font-family: $font-family-head;
    font-weight: normal;
    color: $color-text-body;
    text-transform: uppercase;
    letter-spacing: .05em;
    border-bottom: 5px solid $color-accent;
    display: table;
    padding: 0 0 .5em 0;
    margin: 1em auto 3em auto;
}

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px; }