/* -----------------------------------
CSS TABLE CONTENTS

#globals
    #reset
    #colors
    #type
        #body
        #headings
        #paragraphs
        #links
    #media/misc
        #images
        #buttons
    #structure
        #head
            #logo
            #nav
                #toggle
        #main
            #sections
        #foot
    #layout
        #media queres
        #container
        #grid style
 Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* GLOBAL RESET*/
body { margin: 0; }
* {box-sizing: border-box; }

/* COLORS */
/* ------------------------ TYPE ------------------------ */

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    color: #333;
    line-height: 1.5em;
}
/* HEADINGS */


/* PARAGRAPHS */

/* LINKS */

/* ------------------------ MEDIA/MISC ------------------------ */

/* IMAGES */


/* BUTTONS */

}

/* ------------------------ LAYOUT ------------------------ */

/* CONTAINER */

/* MEDIA QUERES */
/* GRID */

/* ------------------------ STRUCTURE ------------------------ */

/* --------- HEAD --------- */
/* LOGO */

/* NAV */

/* TOGGLE NAV */

/* --------- MAIN --------- */

/* SECTIONS */

/* HERO */


/* --------- FOOTER --------- */

/* TESTING */

/*header {
    background-color: pink;
}

main {
    background-color: palegreen;
}

footer {
    background-color: lightblue;
}

nav {
    background-color: palegoldenrod;
}

nav.bottom {
    background-color: red;
}

.container {
    background-color: bleu;
} */